<!-- Hier wordt de header geïncludeerd -->
<%- include('./partials/head') %>

<section class="vacatures">
  <!-- Loop over elk item in de data -->
  <% data.forEach(item => { %>

    <article>
      <!-- Titel -->
      <h1><%= item.title %></h1>

      <!-- Locatie -->
      <% if (item.locatie) { %>
        <p>Locatie: <%= item.locatie %></p>
      <% } %>

      <!-- Aantal uren -->
      <% if (item.hours) { %>
        <p>Aantal uren: <%= item.hours %></p>
      <% } %>

      <!-- Salaris -->
      <% if (item.salary) { %>
        <p>Salaris: €<%= item.salary %></p>
      <% } %>

      <!-- Soort baan -->
      <% if (item.employment) { %>
        <p>Functie: <%= item.employment %></p>
      <% } %>

      <!-- Foto -->
      <picture class="banner">
        <img src="https://fdnd-agency.directus.app/assets/<%= item.photo %>" alt="">
      </picture>

      <!-- URL Link -->
      <% if (item.url) { %>
        <a href="<%= item.url %>">Ga naar website ➜</a>
      <% } %>

      <!-- Datum geplaatst -->
      <p>Datum vacature geplaatst: <%= item.date_posted %></p>

    </article>

  <% }); %>
</section>

<!-- Hier wordt de footer geïncludeerd -->
<%- include('./partials/foot') %>